.card {
    width: 100px;
    margin-bottom: 24px;
}

.miniatura img {
    width: 450px;
    box-sizing: border-box;
    border-radius: 20px 20px 0px 0px;
    margin:  0px;
}

.miniatura h4 {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 24px;
    line-height: 0px;
    font-weight: 400;
    margin: 24px 8px;
    text-align: left; 
}


.info { 
    width: 450px;
    background-color: rgb(20, 18, 18);
    padding: 16px 0px;
    margin-bottom: 24px;
    min-height: 0%;
    border-radius: 0px 0px 20px 20px;
    display: flex;

    justify-content: space-around;
    flex-direction: row;
    
    
}

.info .accion {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.accion h4{
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 14px;
    line-height: 0px;
    font-weight: bold;
    margin-bottom: 8px,
}

.accion img {
    width: 18px;
    padding: 8px;
}

