.campo-texto {
    width: 100%;
    margin: 24px 0px;
    font-family: "Montserrat", sans-serif;
}

.campo-texto label {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: block;
    color: #ffffff;
    margin-bottom: 16px;
}

.campo-texto input {
    width: 100%;
    background-color: #1d1c1c;
    box-shadow: 10px 10px 30px rgba(0. 0. 0. 0.1);
    border: none;
    padding: 24px 16px;
    color:#ffffff;
    outline-color: #8e2323;
    border-radius: 5px;
    font : 16px;
    box-sizing: border-box;
}