.boton {
    background-color: #9c1e1e;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    padding: 18px 60px;
    border: none;
    color: #ffffff;
    margin: 32px 20px;
    cursor: pointer;
}

.boton:hover{
    background-color: #832424ef;
    color:#d1a3a3
}